include ./filters.jade

nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href='/') Sharetary
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar')
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        - var classesForTimeline = current == '/timeline' ? 'active' : '';
        - var classesForArchive = current == '/archive' ? 'active' : '';
        - var classesForAdd = current == '/add' ? 'active' : '';
        li(class=classesForTimeline)
          a(href='/timeline') Timeline view
        li(class=classesForArchive)
          a(href='/archive') Archive view
        if enableLocalComment
          li(class=classesForAdd)
            a(href='/add') Post
      if current == '/archive' || current == '/timeline'
        .nav.navbar-nav.navbar-right
          +filtersButton

if current == '/archive' || current == '/timeline'
  +filtersDialog
