doctype html
html(lang='ja')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade

    .container.archive-view
      h1= title

      include ./includes/events-shared.jade

      - var fullWidth = 12;

      mixin eventItemTree(event, level)
        +archiveEventItem(event, fullWidth, level)
        if tree && event.descendants
          each descendantEvent in event.descendants
            +eventItemTree(descendantEvent, level + 1)

      - var eventItemBinaryClass = 'odd';

      each event in events
        +eventItemTree(event, 0, 0, eventItemBinaryClass)
        - eventItemBinaryClass = eventItemBinaryClass == 'odd' ? 'even' : 'odd' ;

    include ./includes/foot.jade
