doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title= (title ? title + ' - ' : '') + 'Sharery'
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='/') Sharery
          form
            input(type='text', placeholder='Search')
