@media (min-width: 992px) {
  .compact-events-view .event-binary-even > *[class^="col-md-"] {
    float: right;
    margin-bottom: -60px;
  }

  .compact-events-view .event-binary-even:not(:first-child) > *[class^="col-md-"] {
    margin-top: -60px;
  }
}

/* ignore mouse events on the "row" element because it can cover links in previous event item */
.event-item {
  pointer-events: none;
}
.event-item .panel {
  pointer-events: auto;
}

.timeline-view .event-item .panel-body p.description {
  max-height: 6.5em;
}

.archive-view .event-item .panel-body p.description {
  font-family: monospace;
  max-height: 13em;
}

.event-item .panel,
.event-item .panel-body,
.event-item .panel-body p {
  position: relative;
  overflow: hidden;
}

.event-item .panel-body p {
  font-size: large;
  white-space: pre-wrap;
}

.event-item .panel::before {
  content: attr(data-event-type);
  font-size: 60px;
  font-weight: bold;
  line-height: 0.8;
  opacity: 0.15;
  position: absolute;
  right: 30px;
  text-align: right;
  top: 20px;
  transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  max-width: 8em;
  z-index: 5;
}

.event-item .panel-body {
  z-index: 10;
}

.timeline-view .event-class-minor .panel {
  font-size: smaller;
}

.timeline-view .event-class-normal .panel {
}

.timeline-view .event-class-major .panel {
  background: #f3ffd8; /* Old browsers */
  background: -moz-linear-gradient(top,  #f3ffd8 0%, #d1ff99 50%, #a0f78f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3ffd8), color-stop(50%,#d1ff99), color-stop(100%,#a0f78f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f3ffd8 0%,#d1ff99 50%,#a0f78f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f3ffd8 0%,#d1ff99 50%,#a0f78f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f3ffd8 0%,#d1ff99 50%,#a0f78f 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f3ffd8 0%,#d1ff99 50%,#a0f78f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3ffd8', endColorstr='#a0f78f',GradientType=0 ); /* IE6-9 */
}

.timeline-view .event-class-important .panel {
  background: #fffbdd; /* Old browsers */
  background: -moz-linear-gradient(top,  #fffbdd 0%, #fff987 50%, #fff175 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffbdd), color-stop(50%,#fff987), color-stop(100%,#fff175)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fffbdd 0%,#fff987 50%,#fff175 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fffbdd 0%,#fff987 50%,#fff175 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fffbdd 0%,#fff987 50%,#fff175 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fffbdd 0%,#fff987 50%,#fff175 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffbdd', endColorstr='#fff175',GradientType=0 ); /* IE6-9 */
}

.archive-view .event-class-minor .panel {
  font-size: smaller;
}

.archive-view .event-class-normal .panel {
}

.archive-view .event-class-major .panel {
  background: #f3ffd8; /* Old browsers */
  background: -moz-linear-gradient(top,  #f3ffd8 0%, #e9ffd1 50%, #e3ffdd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3ffd8), color-stop(50%,#e9ffd1), color-stop(100%,#e3ffdd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f3ffd8 0%,#e9ffd1 50%,#e3ffdd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f3ffd8 0%,#e9ffd1 50%,#e3ffdd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f3ffd8 0%,#e9ffd1 50%,#e3ffdd 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f3ffd8 0%,#e9ffd1 50%,#e3ffdd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3ffd8', endColorstr='#e3ffdd',GradientType=0 ); /* IE6-9 */
}

.archive-view .event-class-important .panel {
  background: #fffbdd; /* Old browsers */
  background: -moz-linear-gradient(top,  #fffbdd 0%, #fffbc9 50%, #fffcbf 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffbdd), color-stop(50%,#fffbc9), color-stop(100%,#fffcbf)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fffbdd 0%,#fffbc9 50%,#fffcbf 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fffbdd 0%,#fffbc9 50%,#fffcbf 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fffbdd 0%,#fffbc9 50%,#fffcbf 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fffbdd 0%,#fffbc9 50%,#fffcbf 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffbdd', endColorstr='#fffcbf',GradientType=0 ); /* IE6-9 */
}

/*
.event-item .panel-body * {
  text-shadow: 0 0 0.3em white,
               0 0 0.3em white,
               0 0 0.3em white,
               0 0 0.3em white;
}

.event-item.event-class-major .panel-body * {
  text-shadow: 0 0 0.3em #b1ff59,
               0 0 0.3em #b1ff59,
               0 0 0.3em #b1ff59,
               0 0 0.3em #b1ff59;
}

.event-item.event-class-important .panel-body * {
  text-shadow: 0 0 0.3em #ffe359,
               0 0 0.3em #ffe359,
               0 0 0.3em #ffe359,
               0 0 0.3em #ffe359;
}
*/

.actor-icon {
  float: left;
  margin-right: 0.5em;
}

.actor-icon img {
  max-width: 64px;
  max-height: 64px;
}

.actor-class-minor {
  opacity: 0.65;
  font-size: smaller;
}

.source-icon, .scope-icon {
  max-width: 16px;
  max-height: 16px;
}

.reply-link-label,
.comment-link-label,
.parent-link-label {
  display: none;
}

.event-item ul {
  margin: 0;
  padding: 0;
}

.event-item ul li {
  margin: 0 0 0.5em;
  padding: 0;
  list-style: none;
}
