.compact-events-view .event-binary-even > *[class^="col-md-"] {
  float: right;
  margin-bottom: -50px;
}

.compact-events-view .event-binary-even:not(:first-child) > *[class^="col-md-"] {
  margin-top: -50px;
}

.panel,
.panel-body,
.panel-body p {
  position: relative;
  overflow: hidden;
}

.panel-body p {
  max-height: 6.5em;
  white-space: pre-wrap;
}

.panel::before {
  content: attr(data-event-type);
  font-size: 60px;
  font-weight: bold;
  line-height: 0.8;
  opacity: 0.15;
  position: absolute;
  right: 30px;
  text-align: right;
  top: 20px;
  transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  max-width: 8em;
  z-index: 5;
}

.panel-body {
  z-index: 10;
}

.panel-body * {
  text-shadow: 0 0 0.3em white,
               0 0 0.3em white,
               0 0 0.3em white,
               0 0 0.3em white;
}

.author-icon {
  float: left;
  margin-right: 0.5em;
  max-width: 32px;
  max-height: 32px;
}

.author-class-minor {
  opacity: 0.65;
  font-size: 90%;
}
